* text=auto
# Force LF for cross-platform code
*.py  text eol=lf
*.js  text eol=lf
*.ts  text eol=lf
*.css text eol=lf
*.html text eol=lf
*.json text eol=lf
*.md  text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.php text eol=lf
# Windows-native scripts can keep CRLF
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
# Binary files
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.woff* binary
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
