:root {
    --primary: #102A71;
    --accent: #FFDC5F;
    --table-border: #B3BAC6;
}

.span-width-centered {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

body {
    background-color: white;
    font-family: Arial, sans-serif;
    padding: 1rem 4rem;
}

header nav a {
    color: var(--primary);
    text-decoration: none;
    font-size: 16px;
    padding: 0 2rem;
}

header nav a:hover {
    color: #1a4fd0;
}

.login-btn {
    background: #0a1a4f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.logo {
    width: 6rem;
}

main h1 {
    color: var(--primary);
    font-size: 45px;
    font-weight: bold;
}

.download {
    display: flex;
    justify-content: flex-end;
}

.download-btn {
    background: #0a1a4f;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 25px;
    cursor: pointer;
}

.tabs button {
    color: var(--primary);
    margin-right: 10px;
    padding: 10px 20px;
    background: #f5f5f5;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.tabs button:hover {
    background: #eaeaea;
    color: #0a1a4f;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transform: translateY(-1px);
}

.tabs button.active {
    background: #fff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: var(--primary);
    font-weight: 600;
    box-shadow: 0 -2px 8px rgba(0,0,0,0.08);
    border-bottom: 4px solid var(--accent);
}

.card {
    background: white;
    padding: 15px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.record-data {
    width: 100%;
    min-height: 25rem;
    height: fit-content;
}

.record-data table {
    border-collapse: collapse;
    width: 100%;
}

.record-data thead tr {
    font-size: 12px;
    border-bottom: 2px solid var(--table-border);
}

.record-data thead th {
    padding: 1rem 0;
    text-align: center;
}

.record-data tbody td {
    padding: 1rem 0;
    font-size: 16px;
    text-align: center;
    border-bottom: 2px solid var(--table-border);
}