<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Researcher Dashboard</title>
    <link rel="stylesheet" href="/static/css/researcher-dashboard.css">
    <script src="/static/js/researcher-dashboard.js"></script>
</head>
<body>
    <header class="span-width-centered">
        <img class="logo" src="/static/img/imgMainLogo.png" alt="IntelliForm Logo"/>
        <nav>
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Resources</a>
        </nav>
        <button class="login-btn">Login</button>
    </header>
    <main>
        <div class="span-width-centered">
            <h1>Researcher Dashboard</h1>
            <div class="download">
                <button class="download-btn">Download JSON</button>
            </div>
        </div>
        <div class="tabs">
            <button onclick="renderModelMetrics()" class="active">Tool Metrics</button>
            <button onclick="renderUserMetrics()">User Metrics</button>
        </div>
        <div class="dashboard span-width-centered">
            <div class="record-data card" id="recordData">
            </div>
        </div>
    </main>
</body>
</html>